html,
body {
    height: 100%;
     background: #cce5cc;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    
}
p{
    columns: #2f2f2f;
}

